@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

#icon {
    width: 30px;
    cursor: pointer;
}

:root {
    --primary-color: #212121;
    --secondary-color: #ffffff;
}

.dark-theme {
    --primary-color: #fff;
    --secondary-color: #212121;
}

body {
    background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
    background: linear-gradient(to right, #ffffff, #ece9e6);
    display: flex;  
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.mobile-container {
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px 2px #3333331a;
    color: var(--primary-color);
    border-radius: 3px;
    overflow: hidden;
    width: 350px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

header img {
    margin-right: 0px;
    padding-left: 5px;
}

header input {
    background-color: #eee;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    padding: 0.5rem 1rem;
    padding-right: 0rem;
}

header button {
    background-color: transparent;
    border: none;
    color: rgb(170, 157, 173);
    font-size: 1.5rem;
    margin-left: 5px;

    transition: background-color 0.3s, color 0.3s;
    transition-duration: 500ms;
}

header button:hover {
    background-color: transparent;
    color: rgb(151, 53, 173);
}

.title h3 {
    margin-left: 110px;
    margin-right: 25px;
}

.fav-container {
    background-color: var(--secondary-color);
    padding: 0.25rem 1rem;
    color: var(--primary-color);
    text-align: center;
}

.fav-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.fav-meals li {
    cursor: pointer;
    position: relative;
    margin: 5px;
    color: var(--primary-color);
    width: 75px;
    transition: 500ms;
}

.fav-meals li:hover {
    transform: scale(1.1);
}

.fav-meals li .clear {
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0;
    color: var(--primary-color);
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    font-size: 1.2rem;

}

.fav-meals li:hover .clear {
    opacity: 1;
}

.fav-meals li img {
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #3333331a;
    object-fit: cover;
    height: 70px;
    width: 70px;
}

.fav-meals li span {
    display: inline-block;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75px;
}

.meal {
    background: var(--secondary-color);
    border-radius: 3px;
    box-shadow: 0 0 10px 2px #2928286c;
    cursor: pointer;
    color: var(--primary-color);
    margin: 1.5rem;
    overflow: hidden;
    transition: 500ms;
}

.meal:hover {
    transform: scale(1.1);
}

.meal-header {
    position: relative;
}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: var(--secondary-color);
    padding: 0.25rem 1rem;
    color: var(--primary-color);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img {
    object-fit: cover;
    height: 250px;
    width: 100%;
    border-radius: 5px;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    border: none;
    background-color: transparent;
    color: rgb(151, 143, 143);
    cursor: pointer;
    font-size: 1.2rem;

    transition: background-color 0.3s, color 0.3s;
    transition-duration: 500ms;
}

.meal-body .fav-btn.active {
    color: rgb(216, 33, 33);
}

.meal-body .fav-btn:hover {
    background-color: transparent;
    color: rgb(216, 33, 33);
}

.popup-container {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.popup-container.hidden {
    opacity: 0;
    pointer-events: none;
}

.popup {
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 0 2rem;
    position: relative;
    color: var(--primary-color);
    overflow: auto;
    max-height: 100vh;
    max-width: 600px;
    width: 100%;
}

.popup .close-popup {
    background-color: transparent;
    border: none;
    background: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.meal-info h1 {
    text-align: center;
}
